.custom-drawer .ant-drawer-body {
  background-color: black;
}

.custom-drawer .ant-drawer-content {
  background-color: black;
}

.custom-drawer .ant-drawer-header {
  background-color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}
