@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: black;
}
